* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #79AACB;
    padding: 0.5%;
    margin-bottom: 3%;
    box-shadow: 0px 3px 8px #4A584C80;
}

main {
    width: 70%;
    box-shadow: 0px 6px 8px #4A584C80;
    margin: auto;
    margin-bottom: 15%;
}
.footermain{
    margin-top: 5%;
}

.lecteur {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #79AACB;
    padding: 1%;
    box-shadow: 0px -5px 10px 0px #4A584C80;
}

.global {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inputlecteur {
    width: 90%;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* button vol et suiv etc */
.backward,
.forward {
    border-radius: 50%;
    border: none;
}

.buttongenerique {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2vh;
}

.volumeinput {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 3%;
}

.information {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    margin: 0;
}

#titreartiste {
    font-weight: bold;
    text-transform: uppercase;
    color: #E1E4EF;
}

#titremusic {
    font-size: smaller;
    color: #262928;
}

.tempsmusique {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 10px;
    gap: 3%;
    margin: 0;
}

#temps {
    font-size: smaller;
}

.loupe {
    background-color: #262928;
    color: #E1E4EF;
    padding: 1%;
}

.loupeetsearch {
    display: flex;
    flex-direction: row;
}

#searchtop {
    display: flex;
    padding: 0.5%;
}

.toutlesbuttons {
    display: flex;
    flex-direction: row;
}

/* */

.contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navcouleur {
    background-color: #79AACB;
    width: 100%;

}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.nav li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 3%;
}

.nav li:hover {
    background-color: #4F5D50;
    color: #E1E4EF;
}

.nav a {
    font-size: x-large;
    color: #E1E4EF;
}


.minia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 2%;
}

.montitrepourminia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 140%;
}

.cards img {
    width: 100%;
}

.cards {
    background-color: aliceblue;
    border: 1px solid #A99A88;
    border-radius: 0 10px 0 10px;
    box-shadow: 0px 3px 8px #4A584C80;
    padding: 2%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vh;
}

.cards a {
    color: #526353;
}

.titre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}


/* autre */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* fin autre */

@media screen and (max-width:1024px) {


    main{
        margin-bottom: 25%;
    }
    .global {
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lecteur {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #79AACB;
        padding: 1%;
    }

    .toutlesbuttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .information {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5%;
        margin: 0;
        justify-content: center;
    }

    .tempsmusique {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        height: 10px;
        gap: 3%;
        margin: 0;
        justify-content: center;
    }


}
@media screen and (max-width:700px) {
    main {
        width: 70%;
        box-shadow: 0px 6px 8px #4A584C80;
        margin: auto;
        margin-bottom: 30%;
    }
    
}
@media screen and (max-width:580px) {
    main {
        width: 70%;
        box-shadow: 0px 6px 8px #4A584C80;
        margin: auto;
        margin-bottom: 40%;
    }
    
}

@media screen and (max-width:425px) {
    main {
        width: 70%;
        box-shadow: 0px 6px 8px #4A584C80;
        margin: auto;
        margin-bottom: 50%;
    }
    
}
@media screen and (max-width:320px) {
    main {
        width: 70%;
        box-shadow: 0px 6px 8px #4A584C80;
        margin: auto;
        margin-bottom: 55%;
    }
    
}